@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
}

.container_card {
  position: relative;
  width: 1024px;
  height: 176px;
  background: #ffffff;
  box-shadow: 0px 51px 114px rgba(199, 199, 199, 0.15), 0px 15.375px 34.3677px rgba(199, 199, 199, 0.0895633),
    0px 6.38599px 14.2746px rgba(199, 199, 199, 0.0605927), 0px 2.30969px 5.16283px rgba(199, 199, 199, 0.0352376);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 17px 26px 12px;
}

.flag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  width: 140px;
  height: 32px;
  left: -7px;
  top: -16px;
  background: #d5eaff;
  border-radius: 0px 8px 8px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #0b76e0;
  text-transform: capitalize;
}

.flag_fire {
  width: 14.16px;
  height: 18px;
}

.angle_flag {
  position: absolute;
  left: 0px;
  top: 32px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 0;
  border-color: transparent #99ceff transparent transparent;
}

.big_grade {
  color: #55626e40;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 108px;
  width: 95px;
  margin-bottom: 8px;
  margin-top: 18px;
}

.image_container {
  margin-bottom: 6px;
  width: 202px;
  height: 128px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 277px;
}

.product_name {
  color: #55626e;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.long {
  display: inline-block;
}

.vert_short {
  display: none;
}

.product_brand {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #626e79;
  text-transform: uppercase;
  padding: 4px 0 12px;
}

.coupe {
  display: none;
}

.product_sale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  width: 70px;
  height: 24px;
  background: #55a0ea;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.grade_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 43px;
  gap: 10px;
}

.grade_info_grade {
  position: relative;
}

.grade_info_text {
  font-size: 32.8165px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-weight: 700;
  line-height: 39px;
  color: #55626e;
}

.grade_info_icon {
  position: relative;
}

.grade_info_img {
  width: 12.25px;
  height: 12.25px;
  object-fit: contain;
  top: -42px;
  right: -8px;
  position: absolute;
}

.grade_info_icon_info {
  color: #8c9196;
}

.grade_info_stars {
  margin-bottom: 30px;
}

.grade_info_stars_img {
  width: 66.34px;
  height: 11.08px;
}

.detail_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  width: 246px;
  padding-top: 49px;
}

.detail_info_btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 44px;
  background: #0b76e0;
  border-radius: 12px;
  text-transform: capitalize;
  color: #ffffff;
}

.detail_info_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail_info_link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #626e79;
  text-transform: capitalize;
}

.detail_info_show {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #55626e;
  display: flex;
  align-items: center;
  gap: 4.79px;
}

.detail_info_show_arrow {
  width: 11.25px;
  height: 6.15px;
}

.detail_info_show_more {
  display: none;
}

.choice {
  display: none;
}

.choice,
.value {
  padding-inline-start: 3px;
}

.flag_fire_text {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .container_card {
    position: relative;
    width: 672px;
    height: 132px;
    padding: 12px 17px 11px 15px;
  }

  .flag {
    width: 104px;
    height: 28px;
    font-size: 12px;
  }

  .flag_fire {
    width: 10px;
    height: 13.33px;
  }

  .angle_flag {
    top: 28px;
    border-width: 0 7px 6.5px 0;
  }

  .product_sale {
    display: none;
  }

  .product_brand {
    font-weight: 400;
    font-size: 12px;
    padding: 4px 0 31px;
  }

  .product_name {
    font-weight: 500;
    font-size: 14px;
  }

  .big_grade {
    font-weight: 700;
    font-size: 50px;
    width: 59px;
    margin-bottom: inherit;
    margin-top: inherit;
    position: absolute;
    top: -30px;
    right: 24px;
    line-height: inherit;
  }

  .detail_info {
    gap: 13px;
    width: 171px;
    padding-top: 36px;
  }

  .detail_info_btn {
    font-size: 14px;
    width: 100%;
    height: 36px;
  }

  .image_container {
    margin-bottom: 27px;
    margin-top: 7px;
    width: 118px;
    height: 75px;
  }

  .product_info {
    width: 224px;
  }

  .product_name {
    font-weight: 600;
    font-size: 14px;
  }

  .grade_info {
    gap: 0;
  }

  .grade_info_text {
    font-size: 20px;
    line-height: 28px;
  }

  .grade_info_stars {
    margin-bottom: 44px;
  }

  .grade_info_stars_img {
    width: 45.01px;
    height: 8.19px;
  }

  .detail_info_text {
    flex-direction: column;
    align-items: center;
  }

  .short {
    display: inline-block;
  }

  .long {
    display: none;
  }

  .vert_short {
    display: none-block;
  }

  .detail_info_show {
    display: none;
  }

  .detail_info_link {
    font-size: 12px;
  }

  .detail_info_show_more {
    display: block;
  }

  .detail_info_show {
    font-size: 12px;
    font-weight: 500;
  }

  .product_padding {
    padding-inline-end: 7.83px;
  }

  .grade_info_img {
    width: 9.05px;
    height: 9.05px;
    object-fit: contain;
    top: -30px;
    right: -10px;
  }
}

@media screen and (max-width: 720px) {
  .container_card {
    width: 340px;
    height: 375px;
    flex-direction: column;
    justify-content: center;
    padding: 42px 20px 20px;
  }

  .flag {
    width: 140px;
    height: 32px;
    font-size: 16px;
    background: #ff5c00;
    color: white;
  }

  .angle_flag {
    top: 32px;
    left: 0.5px;
    border-width: 0 6px 5px 0;
    border-color: transparent #b04000 transparent transparent;
  }

  .flag_fire {
    width: 17.92px;
    height: 17.08px;
  }

  .coupe {
    display: inline-block;
  }

  .fire {
    display: none;
  }

  .choice {
    display: block;
  }

  .value {
    display: none;
  }

  .big_grade {
    font-size: 64px;
    top: -40px;
    right: 30px;
  }

  .image_container {
    margin-bottom: 13px;
    margin-top: 0;
    width: 160px;
    height: 101px;
  }

  .product_info {
    width: 300px;
    align-items: flex-start;
  }

  .product_info :nth-child(1) {
    order: 3;
  }
  .product_info :nth-child(2) {
    order: 1;
    margin: auto;
  }
  .product_info :nth-child(3) {
    order: 2;
  }

  .detail_info_show {
    display: none;
  }

  .product_brand {
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 10px 0;
  }

  .product_sale {
    display: flex;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 12px;
    width: 61px;
    height: 21px;
  }

  .detail_info {
    gap: 16px;
    width: 300px;
    padding-top: 0;
    align-items: baseline;
  }

  .detail_info_btn {
    font-size: 16px;
    font-weight: 500;
    height: 42px;
    margin-top: 28px;
  }

  .detail_info_link {
    font-size: 14px;
  }

  .grade_info {
    padding: 0;
    position: absolute;
    top: 83px;
    right: 30px;
  }

  .grade_info_stars {
    margin-bottom: 0;
  }

  .grade_info_stars_img {
    width: 48.52px;
    height: 8.01px;
  }

  /* .grade_info_text {
    font-size: 24px;
    line-height: 33.6px;
  } */

  .vert_short {
    display: inline-block;
    padding-inline-start: 3px;
  }

  .long {
    display: inline-block;
  }

  .short {
    display: inherit;
  }
}
